*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/wallpaperflare.com_wallpaper\(6\).jpg);
    background-size: 100% 100%;

}
.bd{
    text-align: center;
}
.review{
    min-width: 250px;
    background-color:#000000b0;
    color: white;
    border: 2px solid darkcyan;
    width: 25%;
    padding: 1%;
    margin: 2% 4%;
    float: left;
}
.review1{
    min-width: 250px;
    background-color:#000000b0;
    color: white;
    border: 2px solid darkcyan;
    width: 25%;
    padding: 1%;
    margin: 2% 4%;
    float: left;
}
.review:hover{
    border: 2px solid cyan;
    background-color:rgba(0, 0, 0, 0.249);

}
.user{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.user:hover{
    border: 2px solid cyan;
}
