{% extends 'base.html' %}
{% load static %}

{% block title %}☕About☕{% endblock title %}
{% block head %} 
<link rel="stylesheet" href="{% static 'css/about.css' %}">

{% endblock head %}

{% block body %}
<!-- Write your Code here -->

<center><h1 class="h1">ABOUT US</h1></center>
<br>
<div class="d2"> 
</div>
<div class="d1">
<p class="p1">Welcome to The Coffee Cartel, a socially conscious company that is dedicated to making a positive impact on our community. At The Coffee Cartel, we provide a best quality of coffee made with natural coffee beans. At The Coffee Cartel,our team works tirelessly to bring the best coffee to our customers.The benefit of our hard work translates into every coffee we offer.<br>Taste and See Coffee shop and Gallery offers a unique coffee house environment unlike any other.
    We offers a delicious variety of coffee from The Coffee Cartel made by our professionally trained baristas. We have everything from coffee. The Coffee Cartel is an establishment that primarily serves coffee of various types.<br>You can easily enjoy our coffee by selecting the delicious flavours of coffee available with us.<br> We are looking forward for your precious order--"The Coffee Cartel".
</p>
    </div>
    <br>&nbsp;
    <div class="b">
    <a href="/about2">
<button  style="margin: 50px;width: 500px;font-size: 28px;"  class="btn btn-danger" >Check Out Our Story </button>
    </div>











{% endblock body %}
