{% extends 'base.html' %}
{% load static %}
{% block title %}☕Blog☕{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

{% endblock head %}

{% block body %}
<!-- Welcome To ☕Blog Page☕ -->
<!-- Write your Code here -->
<div class="bg">
    <h1 style="color:#F7F7F7;">OUR <span style="color: aqua;">BLOGS</span></h1>

    <div class="contain">
        <div class="rows">
            <div class="cart">
                <img class="photo" src="{% static 'img/blog1.jpg' %}" alt="">
                <div class="desc">
                    <h4>Tasty And Refreshing Coffee</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Espresso is more than just a cup of coffee. It's an art form. From the perfect grind to
                             the right amount of pressure.... </p>
                    </div>
                    <div class="ivc">
                        <p>Espresso is more than just a cup of coffee. It's an art form. From the perfect grind to
                            the right amount of pressure, making a great espresso takes skill and precision. At our
                             coffee shop, we take pride in our espresso. We use only the best beans and equipment to
                              create a rich, smooth shot that's perfect on its own or as the foundation for a latte or
                               cappuccino. Come in and try one for yourself and taste the difference that quality and 
                               expertise make.</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog2.jpg' %}" alt="">
                <div class="desc">
                    <h4>Coffee and Community</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>At our coffee shop, we're more than just a place to grab a quick caffeine fix. We're a
                             community hub where people gather to connect...</p>
                    </div>
                    <div class="ivc">
                        <p>At our coffee shop, we're more than just a place to grab a quick caffeine fix. We're a
                            community hub where people gather to connect, relax, and enjoy good company. We believe
                             that coffee is more than just a beverage; it's a way to bring people together. So whether
                              you're looking to catch up with friends, study for an exam, or just enjoy some alone time,
                               our coffee shop is the perfect place to do it.</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog3.jpg' %}" alt="">
                <div class="desc">
                    <h4>The Health Benefits of Coffee</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Coffee is more than just a tasty beverage. It's also packed with health benefits. Studies
                             have shown that coffee can...</p>
                    </div>
                    <div class="ivc">
                        <p>Coffee is more than just a tasty beverage. It's also packed with health benefits. Studies
                            have shown that coffee can help reduce the risk of certain diseases, including type 2 
                            diabetes and liver disease. It can also boost your energy and mood, making it the 
                            perfect pick-me-up for a busy day. And at our coffee shop, we offer a range of options,
                             from black coffee to specialty drinks, so you can enjoy the health benefits of coffee
                              in whatever form you prefer.</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog4.jpg' %}" alt="">
                <div class="desc">
                    <h4>The Perfect Pairings</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Coffee is great on its own, but it's even better when paired with the right foods. At our
                             coffee shop, we offer a range...</p>
                    </div>
                    <div class="ivc">
                        <p>Coffee is great on its own, but it's even better when paired with the right foods. At our
                            coffee shop, we offer a range of delicious treats that complement our coffee perfectly.
                            From croissants and muffins to sandwiches and salads, we have something for everyone.
                             And if you're not sure what to pair with your coffee, our friendly staff is always
                              happy to make recommendations.</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog5.jpg' %}" alt="">
                <div class="desc">
                    <h4>Supporting Local Roasters</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>At our coffee shop, we believe in supporting local businesses, which is why we source our
                             beans from local roasters...</p>
                    </div>
                    <div class="ivc">
                        <p>At our coffee shop, we believe in supporting local businesses, which is why we source our
                             beans from local roasters. We believe that by working together, we can create a strong,
                              vibrant community that supports and uplifts one another. So when you come into our
                               coffee shop, you can feel good knowing that you're not just supporting us, but also 
                               the local roasters who supply our beans.</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog6.jpg' %}" alt="">
                <div class="desc">
                    <h4>Coffee and Creativity</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>There's something about coffee that inspires creativity. Maybe it's the caffeine, maybe
                             it's the atmosphere...</p>
                    </div>
                    <div class="ivc">
                        <p>There's something about coffee that inspires creativity. Maybe it's the caffeine, maybe
                            it's the atmosphere, but whatever it is, we've seen it firsthand at our coffee shop. 
                            From writers and artists to musicians and entrepreneurs, our coffee shop has been a
                             hub of creativity for years. So if you're looking for a space to brainstorm your next
                              big idea, come in and join the creative community at our coffee shop.</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog7.jpg' %}" alt="">
                <div class="desc">
                    <h4>Tasty And Refreshing Coffee</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>At our coffee shop, we're committed to sustainability. That's why we source our beans
                             from roasters who prioritize...</p>
                    </div>
                    <div class="ivc">
                        <p>At our coffee shop, we're committed to sustainability. That's why we source our beans
                            from roasters who prioritize sustainability in their practices. From using eco-friendly
                             packaging to reducing waste, we believe that small actions can make a big impact. So
                              when you come in for a cup of coffee, you can feel good knowing that you're
                               supporting a business that cares about the planet.</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog8.jpg' %}" alt="">
                <div class="desc">
                    <h4>Coffee Around the World</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Coffee is a global beverage, enjoyed by people all over the world. Each culture has its
                            own unique...</p>
                    </div>
                    <div class="ivc">
                        <p>Coffee is a global beverage, enjoyed by people all over the world. Each culture has its
                             own unique way of preparing and serving coffee, from the rich espresso of Italy to the 
                             sweet, milky coffee of Vietnam. At our coffee shop, we celebrate the diversity of 
                             coffee culture by offering a range of international options. So come in and try
                              something new and experience the rich history and tradition of coffee from around 
                              the world.</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog9.jpg' %}" alt="">
                <div class="desc">
                    <h4>The Science of Coffee Brewing</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Brewing the perfect cup of coffee is more than just pouring hot water over grounds.
                             It's a science...</p>
                    </div>
                    <div class="ivc">
                        <p>Brewing the perfect cup of coffee is more than just pouring hot water over grounds.
                            It's a science. From water temperature to brewing time, every step of the process
                             can impact the final flavor of the coffee. At our coffee shop, we take the 
                              of coffee brewing seriously. That's why we invest in the best equipment and 
                              training for our baristas. We want to ensure that every cup of coffee we serve
                               is not just good, but perfect. So come in and experience the science behind a 
                               great cup of coffee.</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".ivc").hide();
        $(document).on('click', "#btn", function () {
            var moreLessButton = $(".ivc").is(":visible") ? 'Read More' : 'Read Less';
            $(this).text(moreLessButton);
            $(this).parent(".desc").find(".ivc").toggle();
            $(this).parent(".desc").find(".vc").toggle();
        });
    });
</script>







{% endblock body %}